- data.schedule.days.each do |day|
  .day
    %h2.day-title= day.name
    - day.stages.each do |stage|
      .stage{ data: { stage: stage.name } }
        %h3.stage-name= stage.name
        .sessions
          - stage.sessions.each do |session|
            - speaker = session.speaker
            -# ["time_start", "time_end", "talk", "speaker"]
            .speaker
              %img.speaker-image{ src: (speaker.external_image || "http://abstractions.io/images/speakers/#{speaker.image}"), alt: speaker.name }
              %h4.speaker-name
                = speaker.name # ["name", "image", "bio", "twitter"]
                %a.speaker-twitter{ href: "https://twitter.com/#{speaker.twitter}"}
                  %img{ src: "http://abstractions.io/images/social/twitter.svg", alt: speaker.twitter }
              %p.speaker-location= speaker.bio && speaker.bio.location
              - unless session.talk.nil?
                .session
                  -# ["title", "description", "abstract", "audience_level"]
                  %h5.session-title= session.talk.title
                  %p.session-time= "#{session.time_start}&mdash;#{session.time_end}"
                  %p.session-description= session.talk.description
                  -# %p.session-abstract= session.talk.abstract
              -# %p.speaker-bio
                -# %span.speaker-location= speaker.bio && speaker.bio.location
                -# = speaker.bio && speaker.bio.long


